[2017-12-20 09:02] atherdon opened #1 "replicate planner form"
You need to replicate this form: https://aishmittal.github.io/recipe-planner/#/ it can be done without styles on first time, just similar logic. if you need more detailed explanation - feel free to ask.

[2017-12-26 07:40] atherdon opened #2 "selects data"
@rahuldcoder please check this file: https://github.com/atherdon/recipe-api-only/blob/master/bin/import2/ingredients.js

https://github.com/atherdon/recipe-api-only/blob/master/bin/allergy.js

https://github.com/atherdon/recipe-api-only/blob/master/bin/courses.js

https://github.com/atherdon/recipe-api-only/blob/master/bin/cuisine.js

https://github.com/atherdon/recipe-api-only/blob/master/bin/die

[2017-12-26 15:59] atherdon opened #3 "create a link after form POST"
here an examples, related to our api current setup search functionality.
~https://github.com/atherdon/recipe-api-only/blob/master/SEARCH.md~
New documentation:
https://github.com/atherdon/recipe-search-api/blob/master/SearchQueries.md

so when user pick values - we create a long url with data for passing into our sever

[2017-12-26 16:00] atherdon opened #4 "validation, responsive stuff, animation..."

[2017-12-30 08:07] rahuldcoder commented on #1
I am planning to remove bootstrap and instead using ant design because they already have a select box in them.

[2017-12-30 08:08] rahuldcoder commented on #1
The UI of ant design is pretty professional

[2017-12-30 09:39] atherdon commented on #1
i like you plan. get rid of bootstrap.

https://github.com/atherdon/groceristar/blob/master/client/public/images/logo46-facebook.png
or svg version
https://github.com/atherdon/groceristar/blob/master/client/public/images/logo46.svg

[2017-12-30 10:05] atherdon commented on #1
@rahuldcoder can ant design be easily converted to like an app design? i mean used at react app? for some later stages...

[2018-01-02 04:44] atherdon opened #5 "modals for recipe add"
https://github.com/mackmmiller/fCC-recipe-box/blob/master/src/App.js

[2018-01-02 12:17] atherdon opened #6 "Can you make build and create a repository release with attaching zip file of html files?"
For sure when things will be done. just want to review how the form looks.

[2018-01-02 12:21] rahuldcoder commented on #6
Ok just need to complete some select box and there is actually no need for the zip file. Just clone the repo and go in folder and run npm install
After complete download of all the files do npm start and the react app will run on ur local server.
Sending only the html files won't work.

[2018-01-02 12:39] atherdon commented on #6
So do you mean that i must have react installed, right? i mean `npm install && run` will install packages and setup a create react app project.

But is there any ways to have some sort of build thing? I'm a novice in react, you know...

So my main concerns is:
we have a recipe-api server and frontend part will be done with react. but how we can merge this stuff in order to run at one place but spl

[2018-01-02 12:42] atherdon commented on #6
@rahuldcoder maybe this is what i plan to have before: https://www.youtube.com/watch?v=M_PaFaIf6d8

[2018-01-07 09:47] atherdon opened #7 "What do you think can be improved?"
any thing that came into your head.

I like this approach of search.
Maybe we need to create another one style of form?

[2018-01-07 17:52] atherdon opened #8 "update project structure. move files from folder 'recipe' into repository root."
I want to enable autochecking dependencies, and this will be awesome to have an updated

![image](https://user-images.githubusercontent.com/1469198/34652242-afb3a19a-f3ec-11e7-9109-4d71662be823.png)

[2018-01-09 18:43] atherdon commented on #2
@rahuldcoder i think we can close this issue, right?

[2018-01-09 18:44] rahuldcoder commented on #2
ya sure.

[2018-01-09 18:46] atherdon opened #9 "do we have a separated page, related to displaying search results?"
if no: you can make it like card element
so after search we're have an array with search results and we displaying them in loop. each item have separated card

![image](https://user-images.githubusercontent.com/1469198/34737164-65496586-f586-11e7-8359-c9a778487591.png)
https://ant.design/components/card/

[2018-01-09 18:50] #2 closed

[2018-01-09 18:57] rahuldcoder commented on #1
Here is the first iteration of the application.Will attach logo today.
![screenshot from 2018-01-10 00-17-10](https://user-images.githubusercontent.com/18399319/34737496-5178c3ec-f59c-11e7-957c-f1d21683822f.png)

[2018-01-09 18:58] rahuldcoder commented on #1
![screenshot from 2018-01-10 00-18-56](https://user-images.githubusercontent.com/18399319/34737750-05cc86f8-f59d-11e7-97fc-b806a3663831.png)

[2018-01-09 19:02] atherdon commented on #1
Ok, I like it. it works and i'm happy with that. what do you think - we need to add some layouts in order to make it looks better? cause i'm not sure... i mean it must works - and i happy to have it like it looks right now.

[2018-01-09 19:02] rahuldcoder commented on #1
![screenshot from 2018-01-10 00-19-06](https://user-images.githubusercontent.com/18399319/34737843-55f12d78-f59d-11e7-8b93-5ed62f3dda3c.png)

[2018-01-09 19:04] rahuldcoder commented on #1
Lets first create the basic functioning and check that it works properly after that we can work on the looks and design.

[2018-01-09 19:07] atherdon commented on #1
fully agree with you.

[2018-01-09 19:08] rahuldcoder commented on #1
Ya and when it's functioning we can improve UI

[2018-01-09 20:14] atherdon opened #10 "create a second branch where we'll keep a clean form, without API requests"

[2018-01-09 20:14] atherdon opened #11 "read and setup a gitflow"
more at atherdon/groceristar#210
you must read only first 2 artciles

[2018-01-10 08:17] atherdon opened #12 "move from names to ids"

[2018-01-10 12:12] atherdon opened #13 "data strucutre"
**Note** DB structure was updated, so it's not very valid.
Hint: i move all models like allergies, diets, etc.. into one model with name attributes. i find out that yummly have the similar structure, because they always have a **type** field inside the data. So right now we have Attributes -> Recipe <- Ingredients.

![image](https://user-images.githubusercontent.com/1469198/34772213-5819e34e-f618-

[2018-01-10 22:47] atherdon opened #14 "setup a rapi online server and make it available for outside requests"
we need to answer questions:

- [x] 1. what i need to have in order to get data from database?
- [x] 2. do i need to login and receive token?
- [x] 3. can i make calls without tokens, just straight URL line and that it.
- [ ] 4. will Rahul be able to connect to server and test how logic is working?
- [x] 5. did i share all credentials and stuff and he can finish form submission?

#24

[2018-01-11 13:11] rahuldcoder commented on #10
New branch recipe2 has been created.

[2018-01-11 13:15] rahuldcoder commented on #8
The repository structure has been updated. I think we can close this issue.

[2018-01-11 13:21] rahuldcoder commented on #14
The current application has all the data stored in the state of the application. I have made state for every data that is submitted by the user and will use those variables to pass data to the API URL.Till now there is no login functionality associated with the application.

[2018-01-11 13:23] rahuldcoder commented on #12
What is meant by this issue?Can you further explain this issue?

[2018-01-11 15:55] atherdon commented on #8
dependablebot enabled

[2018-01-11 15:55] #8 closed

[2018-01-11 15:58] atherdon commented on #12
@rahuldcoder right now it's not important. what i mean, if we'll get data from API - it's waste of server time when it search things by names. so later we'll have selects with {id:'',name:'chicken'} and when you submit form - we pass ids to our api - in order to speed up search query. but we'll move to thing thing later. just want to keep this here.

[2018-01-11 16:06] atherdon commented on #14
ok, that is good.

Login is not enabled at api too. But it have login functionality by default, so yesterday when i login - it genereate a token at the end of URL. this is why i wrote this here. so maybe we'll need to send some kind of information before submit - in order to get response with token. not sure but we'll find it out soon

[2018-01-11 16:06] atherdon commented on #10
awesome! closed

[2018-01-11 16:06] #10 closed

[2018-01-12 11:17] atherdon commented on #13
#3

[2018-01-12 11:20] atherdon commented on #6
let's postpone this for now. But if you can create a release - it'll be awesome. @rahuldcoder

[2018-01-13 02:12] atherdon commented on #1
Ok, server is up and running.
you can check the data here: https://recipe-api-loopback.herokuapp.com/explorer
API sample: https://recipe-api-loopback.herokuapp.com/api/recipe

I'll migrate a data from my other database and buzz you, @rahuldcoder
You can read more about queries here: #3

[2018-01-13 12:31] atherdon opened #17 "we need to update readme in order to explain what this project doing, how we connect to api server and what user must do in order to setup a local version"

[2018-01-21 18:51] atherdon opened #21 "finish import and when server will be updated online - create some test data, in order to test how search will work. and import this data"
#24

[2018-01-29 01:58] atherdon commented on #1
i move my update into live server.
testing it right now. will update another tasks soon.

[2018-01-29 02:12] atherdon commented on #3
right now testing and updating urls.
will post here when all will work as it should.
and will specify urls that we suppose to use? @rahuldcoder i can have mistakes, so if something not works for your side well - i'll update it

[2018-01-29 05:09] atherdon commented on #3
moving that for tomorrow/ falling asleep

[2018-01-30 00:46] atherdon opened #24 "Release #0"

[2018-01-30 00:46] atherdon opened #25 "Release #1"

[2018-01-30 00:48] atherdon commented on #6
#25

[2018-01-30 00:48] atherdon commented on #5
#25

[2018-01-30 00:48] atherdon commented on #4
#25

[2018-01-30 00:48] atherdon commented on #3
#24

[2018-01-30 00:48] atherdon commented on #1
#24

[2018-02-04 03:33] atherdon opened #26 "search data"
I need to have:
RecipeA with Ingredient1, Ingredient2, Ingredient3, Ingredient4, Ingredient5
RecipeB with Ingredient6, Ingredient7, Ingredient8, Ingredient9, Ingredient10
RecipeC with Ingredient1, Ingredient2, Ingredient6, Ingredient7,

RecipeA must have Diet1, Diet2
RecipeB must have Diet3, Diet4
RecipeC must have Diet1, Diet4

RecipeD must have Holiday1
RecipeA must have Holiday1, Holiday2
Recip

[2018-02-16 10:08] atherdon opened #30 "question"
Hi @rahuldcoder, i think i find a way that we can go step by step at testing how API search works.
Tell me what do you think about it?

Stage 1
We'll start from simple queries and getting their responses on our react app.

- Getting ingredients by name
- Getting ingredients by id
-
- Getting attributes by name
- Getting attributes by id

Stage 2

- Recipe filter with simple queries
- Where we have

[2018-02-19 23:12] atherdon commented on #1
@rahuldcoder i did it! really excited about it and sorry for taking this so long. hope you still interested to continue our development process.

i split recipe api into another piece, related just for search. So this server will work only for you and it require only models, that you need. i hope i'll be able to create a list with api urls that you'll be able to use and it'll be easy to test for u

[2018-02-19 23:13] atherdon commented on #1
i'm updating this part soon:

about queries here: #3
data structure #13

[2018-03-24 00:14] #13 closed

[2018-05-17 10:20] atherdon opened #33 "handle situation then i include and exclude same ingredient_id"
@ChickenKyiv/recipe-search-api

[2018-05-17 10:21] atherdon opened #34 "include select2 or other autocomplete"
because we have a lot of number ingredients
use select2.ajax

[2018-05-17 10:22] atherdon opened #35 "move from predefined arrays to ajax calls to api"
also similar to react native app recipe logic

[2018-05-17 18:04] atherdon opened #37 "validation"
https://github.com/25th-floor/spected

[2018-05-22 03:51] atherdon opened #39 "elastic search"

[2018-05-22 04:10] atherdon opened #40 "https://github.com/formsy/formsy-react/ validation"

[2018-05-22 22:02] atherdon opened #41 "https://github.com/tbleckert/react-select-search"

[2018-05-23 18:24] atherdon opened #43 "check @todo"

[2018-05-24 20:51] atherdon opened #45 "submit handler"
_will you be able to create a form submission to this api?
as told you before - don't have exact name for method that will apply for all filters, so just include backend urls with .env file as we did on your repository._

[2018-05-25 10:44] chauhannishith commented on #45
I think we don't need two boxes for same entry, i mean to say if user has selected all products in haveingredients then we can assume that we can omit others. Similar is the case for other fields

[2018-05-25 13:36] atherdon commented on #45
not agree.
I can forgot something and it'll be in the recipe.
assume that i'm searching for "chicken"(allowed ingredient).
but i don't want to find spicy and hot, so i add "curry" & "chilli papper"(disallowed ingredients).
at results page i'll have more better search results. so i think maybe we should change the form layout(or flow how user to fill that form) - but i think "-" sometime is more im

[2018-05-25 13:36] atherdon commented on #39
this looks like task, that you'll adore too

[2018-05-25 13:37] #1 closed

[2018-05-25 13:42] atherdon commented on #45
But! maybe we can find a components, that will be a standalone one select,
but we'll be able to add their search results to "allowed" and
"dissallowed"?

On 25-May-2018 at 10:44 AM, chauhannishith wrote:

I think we don't need two boxes for same entry, i mean to say if user has
selected all products in haveingredients then we can assume that we can
omit others. Similar is the case for other fields

[2018-05-25 13:42] chauhannishith commented on #45
I understand what you are trying to say, it will take some time to understand and make the call

[2018-05-25 13:43] chauhannishith commented on #45
Do you have any api with a large number of recepies where i can test these cases?

[2018-05-25 13:47] atherdon commented on #45
we have a small api server. but maybe it's a good idea to connect to some
free recipe apis that we have on market.
hold on. i think i have what you need in my notes.

On 25-May-2018 at 01:43 PM, chauhannishith wrote:

Do you have any api with a large number of recepies where i can test these
cases?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on

[2018-05-25 13:52] chauhannishith commented on #45
i can tell that this functionality will need much more code than what initially was there, if we have to fetch the ingredients dynamically from an api rather than a static file

[2018-05-25 13:54] atherdon commented on #45
yep, this will be one of our next tasks for this project. but for now - as
this is just a static form - static arrays working fine too. but yep, for
calling api - we'll need to have ids.

On 25-May-2018 at 01:52 PM, chauhannishith wrote:

assume that i'm searching for "chicken"(allowed ingredient).
but i don't want to find spicy and hot, so i add "curry" & "chilli
papper"(disallowed ingredients).

[2018-05-25 14:17] chauhannishith commented on #45
I will try to find some solution to the select boxes as right now it feels like they will just go into deadlock if one is dependent on other as one item when selected in one box will have to be disabled for the other and i am confused that how will it happen without refresh

[2018-05-25 14:21] atherdon commented on #45
good idea. i like it!

On 25-May-2018 at 02:17 PM, chauhannishith wrote:

I will try to find some solution to the select boxes as right now it feels
like they will just go into deadlock if one is dependent on other as one
item when selected in one box will have to be disabled for the other and i
am confused that how will it happen without refresh

—
You are receiving this because you authored the

[2018-05-26 10:30] chauhannishith commented on #45
Do you want to continue with antd only? I know it looks cool and in some ways might be better but it just seems like normal select would be better and also the size of code will be less

[2018-05-26 10:36] atherdon commented on #45
but it wouldn't have an autocomplete functionality, right?
in this case - i'm ok with andt. if you want - mention Rahul to this topic
and if he have time - maybe he'll be able to advice you

On 26-May-2018 at 10:30 AM, chauhannishith wrote:

Do you want to continue with antd only? I know it looks cool and in some
ways might be better but it just seems like normal select would be better
and also th

[2018-05-26 10:44] chauhannishith commented on #45
Ok i will try it as it is and will tell if it is worth it or not

[2018-05-26 10:45] atherdon commented on #45
Thanks! yep, we should try and understand if it fits to our main process

On 26-May-2018 at 10:44 AM, chauhannishith wrote:

Ok i will try it as it is and will tell if it is worth it or not

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub
<https://github.com/ChickenKyiv/recipe-search-react/issues/45#issuecomment-392253149>,
or mute the thre

[2018-05-26 20:35] atherdon opened #46 "deploy on netlify was ok, but we got a blank page there"

[2018-05-27 00:55] atherdon commented on #45
Btw, quick note. i think we should have some form validation. What do you think? maybe you know some component for it? i google formsy, but never use it. to be honest- i'm a bit sick of forms. build them a lot. so don't want personally dig into in deeply

[2018-05-27 12:40] chauhannishith commented on #46
Solved

[2018-05-27 12:40] #46 closed

[2018-05-27 13:14] atherdon commented on #45
#37 #40

[2018-05-27 13:39] chauhannishith commented on #39
Can you tell me more about what i have to do in this, so i can find precisely

[2018-05-27 13:40] chauhannishith commented on #37
What type of validation are you talking about in our form

[2018-05-27 16:44] atherdon commented on #39
of course.
So we're building a search form. that will be query our server. and react + server will works fine for this moment. Because we don't have a lot of data in our databases. I mean we don't have a lot of recipes. So search will works normal. but if we'll find a way to add a lot of recipes into our database - search will be a weak part of our logic. because we don't have indexes, etc. So i t

[2018-05-27 17:45] atherdon commented on #37
first of all - we cannot submit an empty form.
also i think allowedIngredients field is required, because without this field - we'll need to return all info at database

[2018-05-27 17:48] atherdon commented on #37
let's mark this like an open thing. i mean we need validation, for sure. so implement checking if form not empty and add ability to set required fields. also maybe we need to have some notifications, like : "please fill form", etc....

[2018-05-27 18:25] atherdon opened #47 "maximum cooking time. what do you think if we add something like dropdown."
I dont have an exact example in my hands right now. when will go home - will post it here

[2018-05-27 19:41] atherdon commented on #37
hold on. i think antd have validation stuff.
@rahuldcoder can you advice us? because we're drowning here :)

[2018-05-28 13:26] chauhannishith commented on #47
I don't think that we should use keep any value here because it is not of much use as it is easier to type just two digits(I assume most people try to cook a dish which doesn't make them take more than 90 minutes:) ) instead of clicking and scrolling.

[2018-05-28 19:34] rahuldcoder commented on #37
Okay I'll check it out and tell u asap.Will that be fine

[2018-05-28 22:58] atherdon commented on #37
awesome - thank you!

On 28-May-2018 at 07:34 PM, Rahul Thakur wrote:

Okay I'll check it out and tell u asap.Will that be fine

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub
<https://github.com/ChickenKyiv/recipe-search-react/issues/37#issuecomment-392591818>,
or mute the thread
<https://github.com/notifications/unsubscribe-auth/ABZrDhb8

[2018-05-28 23:04] atherdon commented on #47
i agree, let's keep it just numeric-only text input.
BUT!(as usually) - we need to solve this issue.
how we'll handle this value from a server side?

On 28-May-2018 at 01:26 PM, chauhannishith wrote:

I don't think that we should use keep any value here because it is not of
much use as it is easier to type just two digits(I assume most people try
to cook a dish which doesn't make them take more th

[2018-05-28 23:06] atherdon commented on #47
so, when user fill max cooking time - we're using less or equal query,
right? because it can be a confusing thing sometime...

On 28-May-2018 at 01:26 PM, chauhannishith wrote:

I don't think that we should use keep any value here because it is not of
much use as it is easier to type just two digits(I assume most people try
to cook a dish which doesn't make them take more than 90 minutes:) )
inste

[2018-05-29 15:49] hirdbluebird opened #50 "<br> tag instead of margin CSS property"
https://github.com/ChickenKyiv/recipe-search-react/blob/4e9c7d8be0264fc5073fefce70dc384da4038099/src/components/SearchForm/SearchForm.js#L111

[2018-05-29 15:50] hirdbluebird opened #51 "inline styles is deprecated"
https://github.com/ChickenKyiv/recipe-search-react/blob/4e9c7d8be0264fc5073fefce70dc384da4038099/src/components/SearchForm/Ingredient/Ingredient.js#L56

[2018-05-30 04:15] chauhannishith commented on #50
@atherdon you have made these changes. Do you want me to remove them?

[2018-05-30 06:38] chauhannishith commented on #37
I still think that this is unnecessary stuff because ingredients, allergy, diet, holiday are unnecessary stuff and not everyone wants to search a specific stuff

- people might be ready for any ingredients and we can't make them select all one by one
- if someone has an allergy then they will select it themselves only because it affects them
- for diet, not everyone has a choice and those who have

[2018-05-30 06:38] chauhannishith commented on #37
https://ant.design/components/form/  contains validation example which we can use

[2018-05-30 06:41] chauhannishith commented on #37
if you are thinking regarding hundreds of recepies that the server will bombard then we can do some stuff like google and only display one page at a time so that the load from server is also reduced and the user also only sees a few at a time

[2018-06-01 15:57] atherdon commented on #45
@chauhannishith i made this article for you: https://medium.com/groceristar/companies-with-recipe-apis-e9f29a64389c hope it helps

[2018-06-02 00:54] chauhannishith commented on #45
Ok. I think i understand a bit what you want to do. Will send you a message when i setup a test call to confirm if i am on the right track.(though i still don't understand the purpose of holidays)

[2018-06-02 00:59] atherdon commented on #45
holidays is maybe the less important field. but a lot of websites use it,
so... Usually it used few times in year.
For example - "Best recipes for 4th July" or "Christmas pie". we trying to
work on server side of search form, and before holiday was a separated
table. but we decided to combine all this fields(selects) into Attributes
table. so when we have: +I1+I2+I3-I4+A1+C1(include is a plus, exc

[2018-06-02 04:36] chauhannishith commented on #45
I am currently going with EDAMAM, trying with static data, if that works then transferring to selected data should not take much time

[2018-06-02 04:38] atherdon commented on #45
good to know! btw, i hope soon we'll finish our apis, so edamam will be
just a biggest competitor :) we'll have ingredients + nutritions data(5000
rows) imported. will test in June i assume

On 02-Jun-2018 at 04:36 AM, chauhannishith wrote:

I am currently going with EDAMAM, trying with static data, if that works
then transferring to selected data should not take much time

—
You are receiving thi

[2018-06-02 06:35] chauhannishith commented on #45
The test call is working but i can't find any example of how they need the query string format, can you find it when you wake up?
i tried this but seems like this doesnt work

or

[2018-06-03 05:33] chauhannishith commented on #45
What do you want me to do in this? Only fetch data or like have a display component with 10 lists(links to full recipe) and prev and next buttons

[2018-06-03 05:48] atherdon commented on #45
you mean in search results?
let's display some raw data. like we did with form fields - just showing text.

pagination is a cool idea, but not sure that we should do it at this moment.
In other repositories I also have some un-finished components, related to displayin recipe data, so maybe we'll use it a bit later. if you want - you can show pagination component from antd, but please not bind it r

[2018-06-03 05:52] chauhannishith commented on #45
ok i will just fetch the data and display the recipe names for now

[2018-06-03 05:53] atherdon commented on #45
good choice! can you create a separated task where we can discuss how we
can represent a search results?

On 03-Jun-2018 at 05:52 AM, chauhannishith wrote:

ok i will just fetch the data and display the recipe names for now

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub
<https://github.com/ChickenKyiv/recipe-search-react/issues/45#issueco

[2018-06-03 05:57] chauhannishith commented on #45
Sorry the internet is not working properly today, will have to do it tomorrow only

[2018-06-03 05:58] atherdon commented on #45
it's ok, not a problem. maybe it will give me some time and review your
prev changes :)

On 03-Jun-2018 at 05:57 AM, chauhannishith wrote:

Sorry the internet is not working properly today, will have to do it
tomorrow only

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub
<https://github.com/ChickenKyiv/recipe-search-react/issues/45#issuecom

[2018-06-06 08:01] chauhannishith commented on #45
![image](https://user-images.githubusercontent.com/29725515/41024784-cb7e1952-698d-11e8-8f5c-07303e172dde.png)

It will be helpful if you can tell me whats wrong with the last commit

[2018-06-07 00:20] atherdon commented on #45
does it work right now? i saw that you've add a header to axious configuration...

[2018-06-07 02:50] atherdon commented on #45
in order to represent error i should pick some other autocomplete fields,
right?

On 07-Jun-2018 at 01:22 AM, chauhannishith wrote:

No, it doesn't work. Only ingredients work properly, others give this error

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub
<https://github.com/ChickenKyiv/recipe-search-react/issues/45#issuecomment-395262917

[2018-06-07 02:53] chauhannishith commented on #45
Yes but with atleast one ingredient

[2018-06-07 06:53] atherdon commented on #45
will grab some coffee and will check it deeply

[2018-06-07 08:34] chauhannishith commented on #45
select one ingredient and one allergy and it will show you even in the netlify

[2018-06-07 11:01] atherdon commented on #45
i tried option which you show me at screenshot. hold on, will try at
netlify instance

On 07-Jun-2018 at 08:34 AM, chauhannishith wrote:

select one ingredient and one allergy and it will show you even in the
netlify

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub
<https://github.com/ChickenKyiv/recipe-search-react/issues/45#issuecomment-3

[2018-06-07 11:03] chauhannishith commented on #45
we have only permits of 5 hits per minute so that might be the reason you didn't get any

[2018-06-07 11:20] atherdon commented on #45
maybe. did we send 1 request for each form element?

On 07-Jun-2018 at 11:03 AM, chauhannishith wrote:

we have only permits of 5 hits per minute so that might be the reason you
didn't get any

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub
<https://github.com/ChickenKyiv/recipe-search-react/issues/45#issuecomment-395381320>,
or mute the t

[2018-06-07 11:22] chauhannishith commented on #45
no, we are sending only one request for all form data not a single element
btw did you get that error?

[2018-06-07 11:49] atherdon commented on #45
Should i press search? i tried few times, tried to overload server. will
try a different browsers right now

On 07-Jun-2018 at 11:22 AM, chauhannishith wrote:

no, we are sending only one request for all form data not a single element
btw did you get that error?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub
<https://github.com/ChickenKyi

[2018-06-07 11:50] atherdon commented on #45
can you check how much items came for ingredients select? i assume this is
the most fat part of data that we fetch from that server....

On 07-Jun-2018 at 11:22 AM, chauhannishith wrote:

no, we are sending only one request for all form data not a single element
btw did you get that error?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub
<h

[2018-06-07 11:52] chauhannishith commented on #45
Yes you have to hit search recipies button
The error will be displayed in console

[2018-06-07 11:53] atherdon commented on #45
when i hit search i just got a blank page at netlify. hold on will make a few more attempts. if you wish i can create a video about how it looks on my side. can do it for both - local and netlify versions

[2018-06-07 11:54] atherdon commented on #45
ohh, just refresh as beast and got it at local version. exploring rigth now

[2018-06-07 11:56] atherdon commented on #45
yeah i think we just hit a daily number of requests. maybe for debuggin reasons we should fetch some static data like ingredients and save them as json - while we're testing it?

[2018-06-07 12:02] atherdon commented on #45
But why this error appeared only at submit... i mean if we're fetching data each time when i refresh page - it's strange to have restrictions only when we send `q` query... maybe they just didn't have all of options, that our form provide? maybe they didn't have exclude attributes...

Case#1
When I pick only chicken it's works well.
Case#2
When i pick chicken, tuna - it works too.

Case#3 when i p

[2018-06-07 12:06] atherdon commented on #45
Yep, i suppose this error related to not-logical data, that we put in our form. So it's like - No results.
Case#5 i pick `Peanut Butter` and pick `Peanut-free` allegy and it give me an error too.

[2018-06-07 12:13] atherdon commented on #45
Btw, you did a great job with sending one request for fetching data for select options!
When i was junior - my project lead was angry when i send 64 requests instead of 8 :)

[2018-06-07 12:14] chauhannishith commented on #45
they haven't given any method by which we can fetch the ingredients, they have only given the list of allergies and diets which they have

it is 5 requests/ min so we have to just wait a minute

[2018-06-07 12:15] chauhannishith commented on #45
static will most probably work fine might be possible better than this but this looks more like real life scenario where user will fetch data over the web

[2018-06-07 12:19] chauhannishith commented on #45
i assume this might be possible but i even tried a static request and that too failed, they probably might have given an error response to handle failure

[2018-06-07 12:22] atherdon commented on #45
ok i think it's can be a two same issues in one time -
first of all they might didn't have ingredients that we're picking,
second is related to limitation of a free account and maybe we just need to try an ingredients that can be in one recipe.

---
usually, i test food projects with chicken or salad options. because it's a simple cases.
for more complex cases - when you want to check intersection

[2018-06-07 12:32] chauhannishith commented on #45
i had spent atleast two hours yesterday trying different combinations and it worked with balanced diet but not others so i assume it might be because of free acount

[2018-06-07 12:48] atherdon commented on #45
yeah i think so. but it's good that we're tried to connect our form to
separated API. it's good for testing on separated service. i think soon
we'll switch to our server, so it'll be more easy to understand - if'll get
errors. because you'll be able to grab long URL - put it on your browser
and see an actual json response

On 07-Jun-2018 at 12:32 PM, chauhannishith wrote:

i had spent atleast two

[2018-06-07 12:53] atherdon opened #55 "clean up our component, related to displaying search options, that we picked after each submit button click"
it's not important but will improve our workflow

[2018-06-07 12:56] chauhannishith commented on #55
You mean display the whole recipe?

[2018-06-07 13:00] chauhannishith commented on #55
Do you want me to turn these into links to full recipe?
or give more control to browse through results?

[2018-06-07 13:05] atherdon commented on #55
not for now. we'll have a separated page for displaying recipe search
results, but i'll work on RecipeComponent at separated repo, so don't want
to take your time on working at same things.

---
I think this component is displayed only values from our form fields or it
displaying raw data from server response too? if yes - then clean only
values from form fields after form submit

On 07-Jun-2018 a

[2018-06-11 06:05] chauhannishith commented on #55
I can't figure out why resetting the selected values is causing the whole page to refresh. If we continue to use this then the fetched recipes stored in the state also get lost. I tried passing null value but that also doesn't work so I think it is better to keep as it is and serve it as criteria selected by users instead of displaying separately

[2018-06-13 01:27] chauhannishith commented on #39
Do you have any sample for this? Like how to connect to db and send the query

[2018-06-13 03:02] atherdon commented on #39
no, i don't have a proper example. and i'm not sure that this is a good
task to work on.
first of all i'm started to think that is loopback not are the best choice
from the market. and it's good, because i didn't know a lot about this 1
year ago. i was thinking about moving to graphQL soon or later, because it
also have an ORM plugins and looks like more fast evolving thing.
i also exploring the w

[2018-06-13 03:07] atherdon opened #57 "i think we have old stuff in our ,env file"
please update it

[2018-06-13 03:10] atherdon opened #58 "i think we didn't pass all data at this request"
https://github.com/ChickenKyiv/recipe-search-react/blob/master/src/components/SearchForm/SearchForm.js#L53-L61

i understand that this code was related to edamam only, but later i want to use it on our api server, so it should have all fields from this form

[2018-06-13 03:12] atherdon opened #59 "can you enable some simple tests for components?"
not just if it renders, for sure.
for example selects should have data inside, etc.

[2018-06-13 03:14] atherdon commented on #47
did we have a validation/mask for numbers only at this field?

[2018-06-13 03:15] #33 closed

[2018-06-13 03:16] #11 closed

[2018-06-13 04:14] #57 closed

[2018-06-13 04:39] atherdon commented on #59
not agree, because sometimes, you want to prepare a meal, but don't have some items in your pantry, or other cases. for now let's keep recipe name in this form. but please create a separated task for a future. where we'll discuss our next iterations of this project

[2018-06-13 04:41] atherdon opened #60 "can you create a release for a current code state?"
i think we're ready and this will be an interesting task for you.
inside release please briefly explain what we did here and what we have right now

[2018-06-13 04:46] chauhannishith commented on #60
don't know how that works but will try

[2018-06-13 04:53] atherdon commented on #60
yep, it was my idea - to teach you how to do it

On 13-Jun-2018 at 04:46 AM, chauhannishith wrote:

don't know how that works but will try

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub
<https://github.com/ChickenKyiv/recipe-search-react/issues/60#issuecomment-396812080>,
or mute the thread
<https://github.com/notifications/unsubscribe-au

[2018-06-13 05:01] chauhannishith commented on #59
i am talking about this sometimes
as not everytime someone will select a field and it can be empty and we can send null

[2018-06-13 05:14] atherdon commented on #59
if people wouldn't fill recipe title - we just didn't send this field - that it.

later i plan to convert this form into a wizard, like yummly has, but for not it's not in priority

[2018-06-15 05:31] atherdon commented on #55
i think this is because of our react knowledge. i'm pretty sure that someway it can be done easily.
maybe you have an ideas how to crack this problem?

[2018-06-19 10:11] atherdon opened #63 "idea"
# Description/Steps to reproduce
@chauhannishith i'm working on npm module that will store our static data for search options.
Can you help me with it?

# Expected result

# Additional information

[2018-06-19 10:13] chauhannishith commented on #63
Can you elaborate more about this?

[2018-06-19 10:17] atherdon commented on #63
sure, this is why i started this discussion - to help me move it forward.
ok, so for now we have a data folder inside our project. Yes, later we'll
not need it, because we'll connect to api. but a lot of my projects have a
similar import data that we're using for testing purposes. and i think by
movin it into a separated package - is a good thing.
repo is here: https://github.com/GroceriStar/stati

[2018-06-20 21:45] JorgeRodr commented on #55
Hi guys, if I understood well issue, the problem is that we want to clean the form after every click on the search button right? I have never use the ant design select before but in another libraries they use to have a method to clean the inputs. However,I have nos found anything for the antd selects. I think that another way to solve this problem is to use the componentDidUpdate method of react i

[2018-06-22 06:03] nickisaacs commented on #55
@atherdon
I've added a fix for your issue. The problem was passedRecipes was undefined/reset and therefore componentWillReceiveProps was setting the Test.js state with an undefined value. I've added a check to update the state only if the props actually contained actual data.
https://github.com/ChickenKyiv/recipe-search-react/pull/65

[2018-06-24 00:42] atherdon opened #66 "401 at edamam api calls"
# Description/Steps to reproduce

Note: I occasionally get the "401 Unauthorised" response for the search requests. Once it starts, it doesn't fix itself until a page refresh.

# Expected result

# Additional information

[2018-06-24 00:54] atherdon commented on #55
Thank you @JorgeRodr & @nickisaacs !

@nickisaacs i think it's an issue related to edamam free api plan that we're using. But i create a separated task #66, so we'll be able to take a look on it later. and thanks for your fix.

And this issue is closed.

[2018-06-24 00:54] #55 closed

[2018-06-25 13:27] chauhannishith commented on #66
We can only do 2 requests in one minute so thats why it is giving that error, there were lots of emails related to limit exceeded so that is the reason for this

[2018-06-25 13:28] chauhannishith commented on #63
I am trying to understand this but it is taking time

[2018-06-25 13:40] chauhannishith commented on #63
Just to be sure, you are talking about creating packages, right?

[2018-06-25 13:42] atherdon commented on #63
yes. npm package that can be installed via npm and clean up code of our projects

[2018-06-25 16:28] atherdon commented on #66
then solved

[2018-06-25 16:28] #66 closed

[2018-06-29 05:15] chauhannishith commented on #63
can you tell me what is the status of this and what this does right now and also the final expected result

[2018-06-29 05:29] atherdon commented on #63
Ok, sure.

So, as you maybe noticed - we have a lot of repositories right now.
and a lot of this repositories have `data` folders. In this folders we have arrays, that we use as a test cases. It can be named a mocking data.
So, recipe search form has arrays, that used for displaying options inside selects.
search server using arrays for importing test data for displaying seach results
groceristar

[2018-06-29 05:34] chauhannishith commented on #63
So you want to create functions in packages that take the link of api and serve the requested data

[2018-06-29 05:40] chauhannishith commented on #63
something like this if i understood correctly

var Data = require('Groceristar')
Data.setDataBase(databaselink)
var allergies = getData(allergies)
push(collection, dataObj) function to add data in database

[2018-06-29 05:44] atherdon commented on #63
nope. i want to create a functions that will return data from static files

[2018-06-29 05:45] atherdon commented on #63
for now i want https://github.com/ChickenKyiv/recipe-search-react/blob/master/src/components/SearchForm/Ingredient/Ingredient.js#L5
but from separated npm package. so if i'll update the data inside it - we'll be able to upgrade all repositories and have a newest versions

[2018-06-29 05:45] chauhannishith commented on #63
ok from files but the functionalities which are said are correct?

[2018-06-29 05:48] atherdon commented on #63
yeah, just without a database link for now.
i have a `new` idea - maybe it'll require to update whole servers logic :)
at my PC groceristar main repo is strangely crashed and i decide - maybe this is a good sign to move away from REST to graphQL approach

[2018-06-29 05:49] atherdon commented on #63
main issue - why i stuck and decide to ask for help - i didn't figure out how to debug that npm package.
so it'll be cool if you help - because i think this is not a complex task - but it'll give a huge benefit

[2018-06-29 07:15] atherdon commented on #63
So, in order to make it more simple: for a first time - i'll be cool to have installed that package at this repository, data folder removed from this repo and everything working as before.
I add some information here: https://github.com/GroceriStar/static-data/issues/14

[2018-06-29 11:57] #60 closed

[2018-07-01 11:49] nickisaacs commented on #35
Can I pick this up? Please provide me details if you are okay with it

[2018-07-01 12:48] #6 closed

[2018-07-01 12:57] atherdon commented on #35
it's a not an easy task - do you think you can handle it?
Btw, just yesterday i finished a first part of documentation, related to our search API server, so for a first part of this task - i got you covered. basically, @chauhannishith make some code, related to API calls, so you'll not need to start from scratch. hope this information will help you

[2018-07-01 13:03] nickisaacs commented on #35
I do this for a living, so yes :)
Would love to help you out

[2018-07-01 13:09] atherdon commented on #35
Ok, @nickisaacs good to know about it! I'll be happy to help with any of your questions. and will try to speed up your development process, by giving as much information as i can.
So here is the current version of documentation, related to our search api server. it's not finished, so if you find something strange - just avoid it :)
https://chickenkyiv.gitbook.io/documentation/search-api-tests

[2018-07-01 13:10] atherdon opened #68 "can you implement a flow-bin types here?"
# Description/Steps to reproduce

# Expected result

# Additional information

[2018-07-02 08:04] chauhannishith commented on #63
https://github.com/chauhannishith/groceristar-fetch/tree/master

here's the package that you told me to create.
Have a look at it and if you feel like there need to be some changes then tell me.

[2018-07-02 09:31] atherdon commented on #63
@chauhannishith  ok i like it, did you test it at this repo?
should i publish it on npm?

[2018-07-02 09:43] chauhannishith commented on #63
I tried fetching the data which works and a sample demo separately. Haven't used it to get the data in this repo but that will work too.

You can publish it but you might have to make some changes in package.json

[2018-07-02 09:47] atherdon commented on #63
what do you think about transfering this repo to groceristar organization?
for sure i can commit to your repo - but i'll be easy for me to keep all in
one place.

On 02-Jul-2018 at 09:43 AM, chauhannishith wrote:

I tried fetching the data which works and a sample demo separately. Haven't
used it to get the data in this repo but that will work too.

You can publish it but you might have to make so

[2018-07-02 09:49] chauhannishith commented on #63
yes i made this separately so that i can directly transfer it. Where should i transfer it?

[2018-07-02 09:50] atherdon commented on #63
on form transfer - move to username "GroceriStar"

On 02-Jul-2018 at 09:49 AM, chauhannishith wrote:

yes i made this separately so that i can directly transfer it. Where should
i transfer it?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub
<https://github.com/ChickenKyiv/recipe-search-react/issues/63#issuecomment-401740579>,
or mute the t

[2018-07-02 09:57] atherdon commented on #63
ok, will grab a cup of tea and publish it on npm, so we'll be able to test
how it works on a real case

On 02-Jul-2018 at 09:49 AM, chauhannishith wrote:

yes i made this separately so that i can directly transfer it. Where should
i transfer it?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub
<https://github.com/ChickenKyiv/recipe-search-r

[2018-07-02 10:00] chauhannishith commented on #63
after you publish it tell me what name you gave it so that I can add it in this repo

[2018-07-02 10:07] atherdon commented on #63
we'll keep this name, for luck :)

On 02-Jul-2018 at 10:01 AM, chauhannishith wrote:

after you publish it tell me what name you gave it so that I can add it in
this repo

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub
<https://github.com/ChickenKyiv/recipe-search-react/issues/63#issuecomment-401744839>,
or mute the thread
<https://github.

[2018-07-02 10:34] nickisaacs commented on #35
@atherdon
I can see you are currently reading from the JS files and populating the data inside the render method of each component which is not okay. Ideally, the data should be populated inside componentDidMount(). You will face problems when you switch to ajax calls. I plan to refactor this. Is that fine?

I went through your documentation quickly. I could see this: https://chickenkyiv.gitbook.i

[2018-07-02 10:37] atherdon commented on #35
perfect - thank you!

On 02-Jul-2018 at 10:34 AM, Nick Isaacs wrote:

@atherdon <https://github.com/atherdon>
I can see you are currently reading from the JS files and populating the
data inside the render method of each component which is not okay. Ideally,
the data should be populated inside componentDidMount(). You will face
problems when you switch to ajax calls. I plan to refactor this. Is th

[2018-07-02 10:39] atherdon commented on #35
you can start from fetching data for selects:
https://chickenkyiv.gitbook.io/documentation/search-api-tests/attribute

On 02-Jul-2018 at 10:34 AM, Nick Isaacs wrote:

@atherdon <https://github.com/atherdon>
I can see you are currently reading from the JS files and populating the
data inside the render method of each component which is not okay. Ideally,
the data should be populated inside componen

[2018-07-02 10:48] atherdon commented on #35
but keep in mind that requests should be separated from components some
how. soon or later we plan to switch from REST to graphql - because of
crazy generated API endpoints of loopback :)

On 02-Jul-2018 at 10:34 AM, Nick Isaacs wrote:

@atherdon <https://github.com/atherdon>
I can see you are currently reading from the JS files and populating the
data inside the render method of each component wh

[2018-07-02 11:43] atherdon commented on #63
- [ ] Install package
- [ ] connect to search form elements
- [ ] delete `data` folder

[2018-07-02 12:24] atherdon commented on #63
GroceriStar/static-data#14

[2018-07-03 04:43] chauhannishith commented on #63
are you sure this is the name? It is still not showing

[2018-07-03 04:49] chauhannishith commented on #63
is @ also included in the name?

[2018-07-03 05:45] chauhannishith commented on #63
I found it but I think webpack has some issue with fs, will try to find a solution to it or replace it in the package

[2018-07-03 05:54] atherdon commented on #63
yeah, there new rules with aliases: `yarn add @groceristar/groceristar-fetch` should work

[2018-07-03 06:00] atherdon commented on #63
maybe we can use some default options for reading json? i mean in Angular
you just fetch data from it by passing an url, not using file streams as we
do...

On 03-Jul-2018 at 05:45 AM, chauhannishith wrote:

I found it but I think webpack has some issue with fs, will try to find a
solution to it or replace it in the package

—
You are receiving this because you authored the thread.
Reply to this e

[2018-07-03 06:22] atherdon commented on #63
@chauhannishith try this: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/JSON/parse

But still I like your idea with `fs` - because later we'll need to import csv file into our database - so this approach will be useful

[2018-07-03 11:12] atherdon commented on #63
i think you pushed an updates to npm

[2018-07-03 11:15] chauhannishith commented on #63
Yeah, I commented the fs part so that you could use it in future if required and replaced it with simple JSON. also, there was an error in production build due to ES6 syntax so changed it to ES5

[2018-07-03 11:17] atherdon commented on #63
can you move that error to groceristar-fetch - so we can address it later?

On 03-Jul-2018 at 11:15 AM, chauhannishith wrote:

Yeah, I commented the fs part so that you could use it in future if
required and replaced it with simple JSON. also, there was an error in
production build due to ES6 syntax so changed it to ES5

—
You are receiving this because you authored the thread.
Reply to this email

[2018-07-03 11:19] chauhannishith commented on #63
I corrected it in version 1.1.1 so there are not much chances of it arising any time soon at least for a few months

[2018-07-03 11:21] atherdon commented on #63
got it

On Tue, Jul 3, 2018 at 2:19 PM chauhannishith <notifications@github.com>
wrote:

[2018-07-03 12:02] atherdon commented on #63
got it. tell me when it'll work fine at search work - excited to check it

On 03-Jul-2018 at 11:19 AM, chauhannishith wrote:

I corrected it in version 1.1.1 so there are not much chances of it arising
any time soon at least for a few months

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub
<https://github.com/ChickenKyiv/recipe-search-react

[2018-07-03 12:03] chauhannishith commented on #63
I added this in the form and have removed the data folder

[2018-07-03 12:05] atherdon commented on #63
ok, will review it and close this task, btw - don't forget about adding
some tests to groceristar-fetch package

On 03-Jul-2018 at 12:03 PM, chauhannishith wrote:

I added this in the form and have removed the data folder

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub
<https://github.com/ChickenKyiv/recipe-search-react/issues/63#issuecomm

[2018-07-03 16:00] nickisaacs commented on #35
@atherdon
I've implemented it for all selects except for ingredients. I can't find an endpoint/query that gives me a list of all the ingredients.
BTW, im fetching the data from inside the component now. Do you want me to fetch it from the parent and then pass it down as props to the children? Or maybe we can start using redux for this?

[2018-07-04 02:25] atherdon opened #70 "move onChange & CreateName outside of the render method"
# Description/Steps to reproduce

Please check all of our components, related to a search field

# Expected result

# Additional information

[2018-07-04 02:27] atherdon opened #71 "Create tests for this set of components"
# Description/Steps to reproduce

- [ ]  SearchForm
- [ ] Allergy
- [ ] Course
- [ ] Cuisine
- [ ] Diet
- [ ] Holiday
- [ ] Ingredient
- [ ] Test

# Expected result

# Additional information

[2018-07-04 02:53] atherdon commented on #35
I think you should check this page for ingredient endpoints: https://chickenkyiv.gitbook.io/documentation/search-api-tests/ingredients

In short, you should check this URL for the list of ingredients:
https://loopback-recipe-search.herokuapp.com/api/ingredient

Maybe we should use React Content API instead of Redux?
If fetching data at parent will reduce logic in our form fields and will keep them

[2018-07-04 02:54] atherdon commented on #71
Additional tests requests you'll find here: https://chickenkyiv.gitbook.io/documentation/search-api-tests/search-form-tests

[2018-07-04 04:56] atherdon commented on #35
please follow this link: https://github.com/ChickenKyiv/recipe-search-react/invitations

[2018-07-04 04:58] #21 closed

[2018-07-04 05:34] atherdon commented on #35
yes, i can do this. will post an update when it'll be done

On 04-Jul-2018 at 05:23 AM, Nick Isaacs wrote:

@atherdon <https://github.com/atherdon>
Ok, will use the new context API for this.
Yes, fetching data before rendering the selects should be better in my
opinion. Sure, I will add the id as a prop to the Option component,
currently I was using it as the key.

Would it be possible to have an

[2018-07-04 05:43] atherdon opened #72 "https://www.npmjs.com/package/react-bootstrap-wizard"
# Description/Steps to reproduce

# Expected result

# Additional information

[2018-07-04 05:54] atherdon commented on #35
your question is just +1 for moving from REST to graphQL :)

On 04-Jul-2018 at 05:23 AM, Nick Isaacs wrote:

@atherdon <https://github.com/atherdon>
Ok, will use the new context API for this.
Yes, fetching data before rendering the selects should be better in my
opinion. Sure, I will add the id as a prop to the Option component,
currently I was using it as the key.

Would it be possible to have an

[2018-07-04 13:04] #70 closed

[2018-07-04 18:37] atherdon commented on #34
So instead of calling and grab all data from ingredients table - we'll start to search after first 3 chars

[2018-07-06 05:59] nickisaacs commented on #35
@atherdon
I have completed this activity, but it seems another commit was already made to fetch data. I have merge conflicts right now. Should I proceed with this?

[2018-07-06 06:15] chauhannishith commented on #35
@nickisaacs you can undo the commit and make it available on  a different branch. That way he will have both options to compare and choose

[2018-07-06 06:22] nickisaacs commented on #35
@chauhannishith Ok done :)
@atherdon Here is the PR: https://github.com/ChickenKyiv/recipe-search-react/pull/73
My branch is here: https://github.com/nickisaacs/recipe-search-react/tree/feature/async-calls-select

PS - My eslint autoformatted all the files I edited. I hope that's not going to be a problem

[2018-07-06 16:12] atherdon commented on #35
@nickisaacs i'm working on updates, related to form right now. will review your changes when finish my part.

[2018-07-07 15:35] atherdon opened #74 "move styles into separated files"
# Description/Steps to reproduce

# Expected result

# Additional information

[2018-07-07 21:42] atherdon opened #75 "animation"
# Description/Steps to reproduce
https://github.com/reactjs/react-transition-group/tree/v1-stable
https://reactjs.org/docs/animation.html
https://marmelab.com/blog/2017/12/04/material-design-animations-react-router.html
https://animakit.github.io/#/
https://stackoverflow.com/questions/45217332/react-add-transitions-animations-to-wizard-form

# Expected result

# Additional information

[2018-07-07 21:43] atherdon opened #76 "searchkit"
# Description/Steps to reproduce
https://react.rocks/example/SearchKit
https://github.com/searchkit/searchkit
https://medium.com/@yaoxiao1222/implementing-search-filter-a-list-on-redux-react-bb5de8d0a3ad

# Expected result

# Additional information

[2018-07-08 12:29] atherdon commented on #51
#74

[2018-07-08 12:30] atherdon commented on #30
#45

[2018-07-08 12:31] atherdon opened #77 "publish on Bit"
# Description/Steps to reproduce
https://bitsrc.io/groceristar/recipe-search-form
https://docs.bitsrc.io/tutorial/react-tutorial.html

# Expected result

# Additional information

[2018-07-12 05:13] #3 closed

[2018-07-12 05:14] #14 closed

[2018-07-12 05:14] #24 closed

[2018-07-12 05:14] #26 closed

[2018-07-12 05:33] atherdon commented on #30
More details here: https://chickenkyiv.gitbook.io/search-api/search-api-tests

[2018-07-12 05:34] #45 closed

[2018-07-12 23:19] atherdon opened #82 "megaform"
# Description/Steps to reproduce

https://github.com/final-form/final-form#-final-form

# Expected result

# Additional information

[2018-07-13 03:11] atherdon opened #83 "i can pick a same item from list"
# Description/Steps to reproduce
![2018-07-13-061200_3840x1080_scrot](https://user-images.githubusercontent.com/1469198/42670477-ca879238-8663-11e8-9d8c-ae488a0600bc.png)

# Expected result

# Additional information

[2018-07-29 20:42] atherdon opened #96 "update documentation links, etc. after transition to docusaurus"
# Description/Steps to reproduce

# Expected result

# Additional information

[2018-11-27 09:58] atherdon opened #170 "finish combining all values from form and pack them together for sending to server"
# Description/Steps to reproduce

Details upon request

# Expected result

# Additional information

[2018-12-14 03:57] atherdon opened #177 "update navigation, routing, layout logic"
# Description/Steps to reproduce
i have a separated repo for this purposes

# Expected result

# Additional information

[2019-01-04 13:14] atherdon opened #188 "to check this"
# Description/Steps to reproduce

https://ant.design/components/form/#components-form-demo-advanced-search

# Expected result

# Additional information

[2019-01-10 20:36] #83 closed

[2019-01-25 06:33] atherdon opened #206 "read it and partially use"
# Description/Steps to reproduce

https://blog.bitsrc.io/how-to-test-react-components-using-jest-and-enzyme-fab851a43875

# Expected result

# Additional information

[2019-12-08 03:38] Luke-Robinett commented on #66
I can't seem to get a post request to work for this API using the $.AJAX method. I also keep getting an unauthorized error. Below is the code I'm using. The app ID and API key I'm trying to use is the same I'm successfully using for the recipe search API. Can anyone tell me why the following code doesn't work? Below the code I'll paste the error I get from the Chrome console. Thanks.

`    var que

[2019-12-08 19:11] atherdon commented on #66
i'm not sure if this code working with edamam correctly. it's not finished
yet